<form action="/users" method="POST">
    <label for="Name">Name</label>
    <input name="Name" type="text" required/>
    <label for="ID">ID</label>
    <input name="ID" type="text" required/>
    <label for="Password">Password</label>
    <input name="Password" type="password" required/>
    <button class="btn">SignUp!</button>
</form>